// Specific CSS for your home-page
body{
  background-color:#d8d8f2b5;
}

h1{
    margin: 32px 0 24px 0;
    text-align: center;
    font-weight: bolder;
    color: #4e4ead;
  }

h3 {
    margin: 32px 0 24px 0;
    text-align: center;
    font-weight: bolder;
    color: #575572;
}

// .title-img{
//   border-style: solid;
//     border-color: $light-gray;
//     border-width: 1px;
//     border-radius: 16px;
//     margin: 32px 0 32px 0;
// }
  
#banner_image, .calendar {
    border-style: solid;
    border-color: $light-gray;
    border-width: 1px;
    border-radius: 16px;
    margin: 32px 0 32px 0;
  }
  
#banner_image {
    width: 100%;
  }


.container {
    hr {
    margin: 12px auto;
    border: none;
    border-top: 1px solid;
    // color: $sand;
    width: 100%;
    }
  }
  
.row {
    h3 {
      font-size: 20px;
      color: #5d5a8d;
    }
}

.racket-btn{
  position: relative;
  text-align: center;
  display: inline-block;
}

.racket-btn{
  h3{
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 80px;
  }
}

.book-now-btn{
  border-radius: 4px;
  margin-top: 20px;
}
 
.carousel-out{
    width: 50%;
    margin: auto;
}
.carousel-inner {
    // object-fit: cover !important;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: inline-block;
}
  
.container-2 {
    position: relative;
    text-align: center;
    color: #ffeaea;
    font-weight: bolder;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
  }
  
.centered-2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.testimonials{
  height: 20px;
}