.container{
    background-color: white;
    text-align: center;
}

h2{
    color:#4e4ead;
}

.btn{
    border-radius: 4px;
    font-weight: 550;
}

.btn1{
    color: #fbf9f9;
    background-color: #0cd67c;
    border-color: #0cd67c;
    margin: 14px;
}

.btn2{
    margin: 0 12px;
}

.btn3{
    color: #fbf9f9;
    background-color: #f47606bd;
    border-color: #f47606bd;
    margin: 0 12px;
}

.btn4{
    color: #fbf9f9;
    background-color: #f0060ac4;
    border-color: #f0060ac4;
    margin: 0 12px;
}
