<h2>See my bookings</h2>
<% @bookings.each do |booking| %>
  <% total_hours = ((booking.return_date - booking.start_date) / 3600).to_i %>
  <% price_per_hour = booking.sports_equipment.price * total_hours %>
  <p>Total price : <%= price_per_hour %> € for your booking.</p>
<% end %>
