<h2>See my bookings</h2>
<% @bookings.each do |booking| %>
      <% total_hours = ((booking.return_date - booking.start_date) / 3600).to_i %>
      <% price_per_hour = booking.sports_equipment.price * total_hours %>
      <h2>Total price :</h2> <p>€<%= (price_per_hour).round(2) %> for your booking</p>
      <% end %>
<%
=begin%>
 <div class="cards mt-3">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/tennis-racket-on-top-of-two-tennis-balls-on-a-blue-court-by-the-net-picture-id1316486195?k=20&m=1316486195&s=612x612&w=0&h=NYKjmULXpSnILUqEiNmHOohTQZUmju3vBkLvoUQ0P98=)">

  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/woman-playing-beach-tennis-on-a-beach-professional-sport-concept-picture-id1328358890?k=20&m=1328358890&s=612x612&w=0&h=Gm6CjCfOD40JspV4W133pGbGjm1TBhrRjCzwwy_tkWM=)">

  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/ping-pong-equipment-on-blue-table-picture-id1222183464?b=1&k=20&m=1222183464&s=170667a&w=0&h=nS0ZYY2LklGOryL3ZSiEEU4Ud6ih8U3cHtRZivST1FE=)">

  </div>
</div>
<%
=end%>
<%
=begin%>

<div class="card-product">
  <img src="https://media.istockphoto.com/photos/tennis-racket-on-top-of-two-tennis-balls-on-a-blue-court-by-the-net-picture-id1316486195?k=20&m=1316486195&s=612x612&w=0&h=NYKjmULXpSnILUqEiNmHOohTQZUmju3vBkLvoUQ0P98=" />
  <div class="card-product-infos">

    </p>
  </div>
</div>
<%
=end%>
